	.timeline-wrapper {
		z-index: 1000;
	}
	
	.timeline-wrapper span {
		padding-top: 0.4em;
		display: block;
		margin-left: 50%;
		letter-spacing: normal;
	}
	
	.timeline-wrapper {
		position: absolute;
		top: 10px;
		left: 10px;
		right: 10px;
		height: 30px;
		background: #fff;
		transition: 1s ease all;
		border-radius: 4px;
		box-shadow: 0 1px 5px rgba(0, 0, 0, .65)
	}
	
	.heatmap-timeline {
		position: absolute;
		top: 0;
		right: 15px;
		left: 80px;
		height: 100%
	}
	
	.heatmap-timeline .line {
		position: absolute;
		left: 0;
		right: 0;
		top: 15px;
		height: 2px;
		background: #d7d7d7
	}
	
	.heatmap-timeline .time-point.active {
		background: #000
	}
	
	.heatmap-timeline .time-point {
		position: absolute;
		background: #fff;
		border: 2px solid #272727;
		width: 8px;
		height: 8px;
		border-radius: 100%;
		cursor: pointer;
		top: 15px;
		transform: translateX(-50%) translateY(-50%)
	}
	
	.heatmap-timeline .time-point:hover {
		box-shadow: 0 0 5px black
	}
	
	.timeline-wrapper button {
		position: absolute;
		outline: none;
		color: #000;
		background: #f2f2f2;
		width: 65px;
		height: 100%;
		cursor: pointer;
		border: none;
		text-transform: uppercase;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px
	}
	
	.heatmap-timeline .time-point.active {
		background: #000
	}
	
	.play-button-outer {
		z-index: 1001;
		left: 30%;
		top: 30%;
		width: 30%;
		height: 50%;
		background-color: rgba(0, 0, 0, .25);
		cursor: pointer;
		position: fixed;
	}
	
	.play-button {
		margin: 0 auto;
		top: 40%;
		position: relative;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 2.5em 0 2.5em 5em;
		border-color: transparent transparent transparent #000;
		opacity: .75;
	}
	
	.play-button-outer:hover {
		background-color: rgba(0, 0, 0, .5);
	}
	
	.play-button-outer:hover .play-button {
		opacity: 1;
	}
	